body {
  width: 90%;
  margin: 0 auto;
  padding: 10px unset;
}

/* BLOG WEBSITE - START */
.content {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}
.content > * {
  padding: 10px 5px;
  text-align: center;
  border-radius: 2px;
  background-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header {
  grid-column: 1 / 13;
  grid-row: 1 / 1;
}
.aside {
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}
.nav {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
.main {
  grid-column: 4 / 13;
  grid-row: 2 / 4;
}
.footer {
  grid-column: 1 / 13;
  grid-row: 4 / 4;
}
@media (max-width: 768px) {
  /* Screen sizes not more than 768px in width */
  .header {
    grid-column: 1 / 13;
    grid-row: 1 / 1;
  }
  .aside {
    grid-column: 1 / 7;
    grid-row: 2 / 2;
  }
  .nav {
    grid-column: 7 / 13;
    grid-row: 2 / 4;
  }
  .main {
    grid-column: 1 / 13;
    grid-row: 4 / 4;
  }
  .footer {
    grid-column: 1 / 13;
    grid-row: 5 / 5;
  }

  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
  }
}
@media (max-width: 512px) {
  /* Screen sizes not more than 512px in width */
  .aside {
    grid-column: 1 / 13;
    grid-row: 2 / 2;
  }
  .nav {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
  }
}
.blog-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.blog-posts > div {
  background-color: whitesmoke;
  width: 100px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.blog-posts > div:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transform: 3s ease-in;
}

ul.cat#cat {
  list-style-type: none;
  padding: 0;
  font-size: smaller;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
/* BLOG WEBSITE - END */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* BLOG POST - START */
.post-content {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}
.post-content > * {
  padding: 10px 5px;
  text-align: center;
  border-radius: 2px;
  background-color: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.post-header {
  grid-column: 1 / 13;
  grid-row: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.post-header > div {
  align-self: center;
  padding: 0 20px;
}
.post-main {
  grid-column: 1 / 10;
  grid-row: 2 / 6;
  text-align: justify;
}
.post-main > section {
  padding: 0 15px;
}
.subscribe {
  color: grey;
}
.subscribe:hover {
  color: grey;
}
.blog-title {
  margin-bottom: 0;
}
.post-article {
  grid-column: 10 / 13;
  grid-row: 2;
}
.post-article > p {
  padding: 0px 16px;
  text-align: justify;
}
.post-nav {
  grid-column: 10 / 13;
  grid-row: 3;
}
.post-nav > ul {
  text-align: start;
}
.post-aside {
  grid-column: 10 / 13;
  grid-row: 4;
}
.post-aside > ul {
  text-align: start;
  padding: 0px 16px;
}
.post-footer {
  grid-column: 1 / 13;
  grid-row: 6;
}

.blog-post-img {
  background-image: url(https://www.carmart.ng/public/blog/wp-content/uploads/2020/08/Mercedes-Benz-X-Class-Pickup-Preview-Price-Release-Date.jpg);
  background-size: cover;
  width: 96%;
  height: 600px;
  padding: 10px;
}
/* BLOG POST - END */
